$dark: #464646;
$dark-hover: #3b3b3b;
$dark-secondary:#03151d;
$dark-secondary-1: #0f2630;
$muted: #797979;
$light: #f5f5f5;
$light-hover: #d6d6d6;
$light-gray: #f5f5f5;

$primary-color: #42c6ff;
$primary-color-hover: #00b3ff;
$primary-light-color: #42c6ff2f;
$secondary-color: #ff8142;
$secondary-color-hover: #ff6d24;

$brand-font:'Noto Serif', serif;
$navbar-font: 'Noto Sans SC', sans-serif;
$heading-font: 'Roboto', sans-serif;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.material-icons {
    font-size: 1.35rem;
}

// button style

.dvkt-btn-primary {
    background-color: $primary-color;
    font-family: $navbar-font;
    font-weight: bold;
    color: $light;
    transition: background-color .2s;
    
    &:hover {
        background-color: $primary-color-hover;
        color: $light;
    }
}

.dvkt-btn-secondary {
    background-color: $secondary-color;
    font-family: $navbar-font;
    font-weight: bold;
    color: $light;
    transition: background-color .2s;

    &:hover {
        background-color: $secondary-color-hover;
        color: $light;
    }
}

.dvkt-btn-dark {
    background-color: $dark;
    font-family: $navbar-font;
    font-weight: bold;
    color: $light;
    transition: background-color .2s;
    
    &:hover {
        background-color: $dark-hover;
        color: $light;
    }
}

// link style

.dvkt-link-dark {
    color: $dark;
    text-decoration: none;
    &:hover {
        color: $dark-hover;
        text-decoration: none;
    }
}

.dvkt-link-primary {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $primary-color-hover;
        text-decoration: none;
    }
}

.dvkt-link-secondary {
    color: $secondary-color;
    text-decoration: none;
    &:hover {
        color: $secondary-color-hover;
        text-decoration: none;
    }
}

// text style

.dvkt-noto-serif {
    font-family: $brand-font;
}

.dvkt-noto-sans {
    font-family: $navbar-font;
}

.dvkt-roboto {
    font-family: $heading-font;
}

.dvkt-text-dark {
    color: $dark;
}

.dvkt-text-light {
    color: $light;
}

.dvkt-text-muted {
    color: $muted;
}

.dvkt-text-primary {
    color: $primary-color;
}

// background style

.dvkt-bg-dark {
    background-color: $dark-secondary;
}

.dvkt-bg-dark-1 {
    background-color: $dark-secondary-1;
}

.dvkt-bg-light-gray {
    background-color: $light-gray;
}

.dvkt-bg-primary-light {
    background-color: $primary-light-color;
}

.dvkt-bg-primary {
    background-color: $primary-color;
}

.dvkt-bg-secondary {
    background-color: $secondary-color;
}

.dvkt-bg-gradient-primary {
    background-color: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $light);
}

// components

input.input-flat {
    box-shadow: none !important;
}

input.input-dark {
    background-color: $dark-secondary;
    color: $muted;
    border-color: $muted;
    border-width: 1px;
    &:focus {
        color: $muted;
        border-color: $muted;
        background-color: $dark-secondary;
    }
}

button {
    box-shadow: none !important;
}


.dvkt-border-left-primary {
    border-left: 3px solid $primary-color;
}

.dvkt-rounded-1 {
    border-radius: 1rem;
}

.dvkt-va-middle {
    vertical-align: middle;
}

.dvkt-va-top {
    vertical-align: top;
}

.dvkt-va-bottom {
    vertical-align: bottom;
}

header {
    #mainNav {
        transition: all .2s;
        a.navbar-brand-dark {
            color: $dark;
        }
        a.navbar-brand-light {
            color: $light;
        }
        ul li {
            a {
                font-family: $navbar-font;
                font-weight: bold;
            }
            .dvkt-nav-link-dark {
                color: $dark;
                text-decoration: none;
                &:hover{
                    color: $primary-color;
                }
            }
            .dvkt-nav-link-light {
                color: $light;
                &:hover {
                    color: $primary-color;
                }
            }
            .dvkt-nav-btn {
                margin: 5px 0;
                padding: 5px 10px;
                border: 1px solid $primary-color;
                color: $primary-color;
                transition: all .2s;
                &:hover {
                    background-color: $primary-color;
                    color: var(--dark)
                }
            }
        }
    }
    #mobileNavMenu {
        z-index: 3000;
        position: fixed;
        transition: all .25s;
        margin-left: -100vw;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        .mobile-nav-menu-container {
            ul li {
                a {
                    font-family: $navbar-font;
                    font-weight: bold;
                }
                .dvkt-nav-link-dark {
                    color: $dark;
                    &:hover{
                        color: $primary-color;
                    }
                }
                .dvkt-nav-btn {
                    margin: 5px 0;
                    padding: 5px 10px;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    transition: all .2s;
                    &:hover {
                        background-color: $primary-color;
                        color: $dark
                    }
                }
            }
        }
    }
    #mobileNavMenu.show {
        margin-left: 0;
    }
}
