:root {
    --dark: #464646;
    --dark-hover: #3b3b3b;
    --muted: #797979;
    --light: #f5f5f5;
    --light-hover: #d6d6d6;
    --light-gray: #f3f1f1;

    --primary-color: #42c6ff;
    --primary-color-hover: #00b3ff;
    --primary-light-color: #42c6ff2f;
    --secondary-color: #ff8142;
    --secondary-color-hover: #ff7935;

    --brand-font:'Noto Serif', serif;
    --navbar-font: 'Noto Sans SC', sans-serif;
    --heading-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--navbar-font);
}

.material-icons {
    font-size: 1.35rem;
}

input.flat {
    box-shadow: none !important;
}

button {
    box-shadow: none !important;
}

.dvkt-bg-light-gray {
    background-color: var(--light-gray);
}

.dvkt-bg-primary-light {
    background-color: var(--primary-light-color);
}

.dvkt-bg-primary {
    background-color: var(--primary-color);
}

.dvkt-bg-secondary {
    background-color: var(--secondary-color);
}

.dvkt-va-middle {
    vertical-align: middle;
}

.dvkt-va-top {
    vertical-align: top;
}

.dvkt-va-bottom {
    vertical-align: bottom;
}

.dvkt-noto-serif {
    font-family: var(--brand-font);
}

.dvkt-noto-sans {
    font-family: var(--navbar-font);
}

.dvkt-roboto {
    font-family: var(--heading-font);
}

.dvkt-text-dark {
    color: var(--dark);
}

.dvkt-text-light {
    color: var(--light);
}

.dvkt-text-muted {
    color: var(--muted);
}

.dvkt-text-primary {
    color:var(--primary-color);
}

.dvkt-link-dark {
    color: var(--dark);
    text-decoration: none;
    &:hover {
        color: var(--dark-hover);
        text-decoration: none;
    }
}

.dvkt-btn-primary {
    background-color: var(--primary-color);
    font-family: var(--navbar-font);
    font-weight: bold;
    color: var(--light);
    transition: background-color .2s;
    
    &:hover {
        background-color: var(--primary-color-hover);
        color: var(--light);
    }
}

.dvkt-btn-dark {
    background-color: var(--dark);
    font-family: var(--navbar-font);
    font-weight: bold;
    color: var(--light);
    transition: background-color .2s;
    
    &:hover {
        background-color: var(--dark-hover);
        color: var(--light);
    }
}

header {
    #mainNav {
        transition: all .2s;
        a.navbar-brand-dark {
            color: var(--dark);
        }
        a.navbar-brand-light {
            color: var(--light);
        }
        ul li {
            a {
                font-family: var(--navbar-font);
                font-weight: bold;
            }
            .dvkt-nav-link-dark {
                color: var(--dark);
                text-decoration: none;
                &:hover{
                    color: var(--primary-color);
                }
            }
            .dvkt-nav-link-light {
                color: var(--light);
                &:hover {
                    color: var(--primary-color);
                }
            }
            .dvkt-nav-btn {
                margin: 5px 0;
                padding: 5px 10px;
                border: 1px solid var(--primary-color);
                color: var(--primary-color);
                transition: all .2s;
                &:hover {
                    background-color: var(--primary-color);
                    color: var(--dark)
                }
            }
        }
    }
    #mobileNavMenu {
        z-index: 3000;
        position: fixed;
        transition: all .25s;
        margin-left: -100vw;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        .mobile-nav-menu-container {
            ul li {
                a {
                    font-family: var(--navbar-font);
                    font-weight: bold;
                }
                .dvkt-nav-link-dark {
                    color: var(--dark);
                    &:hover{
                        color: var(--primary-color);
                    }
                }
                .dvkt-nav-btn {
                    margin: 5px 0;
                    padding: 5px 10px;
                    border: 1px solid var(--primary-color);
                    color: var(--primary-color);
                    transition: all .2s;
                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--dark)
                    }
                }
            }
        }
    }
    #mobileNavMenu.show {
        margin-left: 0;
    }
}
