body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.material-icons {
  font-size: 1.35rem;
}

.dvkt-btn-primary {
  background-color: #42c6ff;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.dvkt-btn-primary:hover {
  background-color: #00b3ff;
  color: #f5f5f5;
}

.dvkt-btn-secondary {
  background-color: #ff8142;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.dvkt-btn-secondary:hover {
  background-color: #ff6d24;
  color: #f5f5f5;
}

.dvkt-btn-dark {
  background-color: #464646;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.dvkt-btn-dark:hover {
  background-color: #3b3b3b;
  color: #f5f5f5;
}

.dvkt-link-dark {
  color: #464646;
  text-decoration: none;
}

.dvkt-link-dark:hover {
  color: #3b3b3b;
  text-decoration: none;
}

.dvkt-link-primary {
  color: #42c6ff;
  text-decoration: none;
}

.dvkt-link-primary:hover {
  color: #00b3ff;
  text-decoration: none;
}

.dvkt-link-secondary {
  color: #ff8142;
  text-decoration: none;
}

.dvkt-link-secondary:hover {
  color: #ff6d24;
  text-decoration: none;
}

.dvkt-primary-serif-font {
  font-family: "Noto Serif", serif;
}

.dvkt-primary-sans-font {
  font-family: "Noto Sans SC", sans-serif;
}

.dvkt-roboto {
  font-family: "Roboto", sans-serif;
}

.dvkt-text-dark {
  color: #464646;
}

.dvkt-text-light {
  color: #f5f5f5;
}

.dvkt-text-muted {
  color: #797979;
}

.dvkt-text-primary {
  color: #42c6ff;
}

.dvkt-bg-dark {
  background-color: #03151d;
}

.dvkt-bg-dark-1 {
  background-color: #0f2630;
}

.dvkt-bg-light-gray {
  background-color: #f5f5f5;
}

.dvkt-bg-primary-light {
  background-color: #42c6ff2f;
}

.dvkt-bg-primary {
  background-color: #42c6ff;
}

.dvkt-bg-secondary {
  background-color: #ff8142;
}

.dvkt-bg-gradient-primary {
  background-color: #42c6ff;
  background-image: -webkit-gradient(linear, left top, right top, from(#42c6ff), to(#f5f5f5));
  background-image: linear-gradient(to right, #42c6ff, #f5f5f5);
}

input.input-flat {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input.input-dark {
  background-color: #03151d;
  color: #797979;
  border-color: #797979;
  border-width: 1px;
}

input.input-dark:focus {
  color: #797979;
  border-color: #797979;
  background-color: #03151d;
}

button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dvkt-border-left-primary {
  border-left: 3px solid #42c6ff;
}

.dvkt-rounded-1 {
  border-radius: 1rem;
}

.dvkt-va-middle {
  vertical-align: middle;
}

.dvkt-va-top {
  vertical-align: top;
}

.dvkt-va-bottom {
  vertical-align: bottom;
}

header #mainNav {
  -webkit-transition: all .2s;
  transition: all .2s;
}

header #mainNav a.navbar-brand-dark {
  color: #464646;
}

header #mainNav a.navbar-brand-light {
  color: #f5f5f5;
}

header #mainNav ul li a {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
}

header #mainNav ul li .dvkt-nav-link-dark {
  color: #464646;
  text-decoration: none;
}

header #mainNav ul li .dvkt-nav-link-dark:hover {
  color: #42c6ff;
}

header #mainNav ul li .dvkt-nav-link-light {
  color: #f5f5f5;
}

header #mainNav ul li .dvkt-nav-link-light:hover {
  color: #42c6ff;
}

header #mainNav ul li .dvkt-nav-btn {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #42c6ff;
  color: #42c6ff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header #mainNav ul li .dvkt-nav-btn:hover {
  background-color: #42c6ff;
  color: var(--dark);
}

header #mobileNavMenu {
  z-index: 3001;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  margin-left: -100vw;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

header #mobileNavMenu .mobile-nav-menu-container ul li a {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-link-dark {
  color: #464646;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-link-dark:hover {
  color: #42c6ff;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-link-light {
  color: #f5f5f5;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-link-light:hover {
  color: #42c6ff;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-btn {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #42c6ff;
  color: #42c6ff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header #mobileNavMenu .mobile-nav-menu-container ul li .dvkt-nav-btn:hover {
  background-color: #42c6ff;
  color: #464646;
}

header #mobileNavMenu.show {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */